

#cabanas{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    width: 500px;
    min-height: 450px;
    border-radius: 2px;
    background-color:black;
    box-shadow: 0 3px 13px 1px;
}

.cabana-titulo{
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 2.5rem;
    font-style: oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }

.cabana-texto{
    padding-top:1rem;
    font-size: 1.1rem;
    font-weight:900px;
    text-align:justify;   
}

@media (max-width: 530px) {
    .cabana-titulo {
        padding-bottom: 5px;
        padding-top:20px;
        font-size: 2rem;
    }

    .img1{
        width: 400px;
        min-height: 400px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 1px;
        box-shadow: 0 2 10 0 ;

    }
}


