.contenedor-servicios {
    width: 100%;
    max-width: none;
    background-color:rgb(206, 206, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.iconos-servicios {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 2px;
    margin: 20px;
    border: 4px solid black;
    border-radius: 50%;
    font-size: 40px;
    color:black;
}

.contenedor-servicios p {
    font-weight: bold;
    text-align: center;
    color:black;
}

.iconos-servicios:hover {
    color: green;
    border: 4px solid green;
}

@media (max-width: 530px) {
    .iconos-servicios {
        width: 50px;
        height: 50px;
        font-size: 30px;
        color:black;
    }
}
