.mapa {
    width: 500px;
    height: 400px;
}

.titulo{
        font-size: 2.5rem;
        font-style: oblique;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
     }

.mapa-texto{
    font-size: 1.1rem;
    font-weight:900px;
    text-align:justify;   
}

