.img-galeria{
    width: 300px;
    height: 300px;
    padding: 20px 0 20px 0;
    border-radius: 2px;
    opacity: 1;
    display:block;
    transition: all 0.2s ease; 
}

.img-galeria:hover{
    opacity:0.7;
}

.contenedor-galeria{
    padding: 30px 0 30px 0;
    margin-top: 30px;
}

