.wrapper {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
}



